.Rproj.user
.Rhistory
.RData
.Ruserdata

### Ignore video files
*.mp4
*.mov

### Ignore image files 
*.png
*.html
*.jpg
*.jpeg
*.gif
*.svg

### Ignore large data files
*.csv
*xlsx
*.dat
*.joblib

### Ignore compiled binaries
*.exe
*.dll

### Ignore text files
*.txt
*.doc
*.docx
*.pdf

### R
.RDataTmp

### Exceptions to track
# Original Data (Clock data downloaded from the original source)
!FunctionalAnalysis/sup_data_2_43587_2023_462_MOESM3_ESM.xlsx
# Cross-Tissue Results (Results of the Cross-Tissue Analysis)
!Mammal_Methylation_Levels/Cross-Tissue Methylation Patterns/Complete/CrossTissue Methylation - Consistently Methylated CpGs.xlsx


### Folders to hide
FunctionalAnalysis/DEPRECATED
Mammal_Methylation_Levels/DEPRECATED

### Files to hide
Mammal_Methylation_Levels/Cluster Analysis/Cluster_Analysis.ipynb