.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore video files
*.mp4
*.mov

# Ignore image files 
*.png
*.html
*.jpg
*.jpeg
*.gif
*.svg

# Ignore large data files
*.csv
*xlsx
*.dat
*.joblib

# Ignore compiled binaries
*.exe
*.dll

# Ignore text files
*.txt
*.doc
*.docx
*.pdf

# R
.RDataTmp


# Exceptions to track
!Mammal_Methylation_Levels/Cross-Tissue Methylation Patterns/Complete/CrossTissue Methylation - Consistently Methylated CpGs.xlsx

# Folders to hide
FunctionalAnalysis/[DEPRECATED]
Mammal_Methylation_Levels/[DEPRECATED]